@{
  Layout = "_Layout";
}

<div class="container">
  <div class="jumbotron">
    <h1>Music Organizer</h1>
  </div>
  <a href="/artists">View Artists</a><br>
  <a href="/artists/new">Add Artist</a>
</div>