@{
  Layout = "_Layout";
}

<form action="/artists" method="post">
<label for="name">Artist Name</label>
<input id="name" name="name" type="text" class="form-control">
<button type="submit" class="btn btn-info">Add Artist</button>
</form>